.root {
    @apply cursor-pointer inline-flex min-h-[2.75rem] py-2 leading-6 transition
    ease-in-out text-center justify-center capitalize items-center
    text-sm font-semibold max-h-16 border-[1.5px] hover:border-primary-dark
    hover:bg-primary-dark focus:ring-[1.5px] focus:ring-offset-[1.5px] focus:ring-primary-dark focus:outline-none
    hover:text-achroma-lightest duration-300;
}

.normal {
    @apply bg-primary-medium text-achroma-lightest border-primary-medium;
}

.normal[aria-pressed] {
    @apply bg-primary-dark;
}

.chromaOutline {
    @apply bg-transparent text-achroma-darkest border-primary-medium;
}

.chromaOutline[aria-pressed] {
    @apply bg-transparent;
}

.achromaOutline {
    @apply bg-transparent text-achroma-darkest border-achroma-medium;
}

.achromaOutline[aria-pressed] {
    @apply bg-transparent;
}

.loading {
    @apply bg-primary-dark text-achroma-lightest border-primary-dark;
}

.disabled,
.disabled:hover,
.disabled:focus {
    @apply text-achroma-dark bg-achroma-medium cursor-not-allowed;
    filter: grayscale(1);
}
