.root {
    @apply flex p-2 gap-4 items-center transition duration-300 rounded-lg;
}

.root:hover {
    @apply text-primary-dark;
}

.root:focus {
    @apply outline-none ring-[1.5px] ring-offset-2 ring-primary-dark;
}

.profile {
    @apply flex flex-col gap-0.5 items-start;
}

.avatar {
    @apply aspect-square w-14;
}

.empty {
    @apply aspect-square bg-achroma-medium w-14;
}

.square,
.square img {
    @apply rounded-lg;
}

.circle {
    @apply rounded-full ring-[1.5px] ring-primary-dark ring-offset-2;
}

.circle img {
    @apply rounded-full;
}

.username {
    @apply font-semibold;
}

.subtext {
    @apply text-achroma-medium inline-block;
}

.chevron {
    @apply scale-75 text-achroma-medium transition duration-300 ease-in-out;
}

.root:hover .chevron,
.root:focus .chevron {
    @apply text-primary-dark;
    animation-name: straight;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

@keyframes straight {
    0% {
        transform: translateX(0px);
    }
    60% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0px);
    }
}
